<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Status</h2>
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<ng-container *ngIf="isLoading$ | async; else loaded">

			<mat-spinner [color]="'accent'"></mat-spinner>

		</ng-container>

		<ng-template #loaded>

			<mat-list>
				<mat-list-item>
					<mat-icon mat-list-icon>schedule</mat-icon>
					<h4 mat-line>Time</h4>
					<p mat-line> {{(status$ | async).time | date:'medium'}}</p>
				</mat-list-item>

				<mat-list-item>
					<mat-icon mat-list-icon>brightness_4</mat-icon>
					<h4 mat-line>State</h4>
					<p mat-line> {{(status$ | async).state}}</p>
				</mat-list-item>
			</mat-list>

		</ng-template>
	</mat-card-content>
</mat-card>
