@import '~normalize.css/normalize.css';
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-teal, 500);
$accent: mat-palette($mat-lime, 500);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@import '~@angular/material/theming';

body {
	background-color: mat-color(map-get($theme, background), background);
}
