<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Configuration</h2>
		</md-card-title>
	</md-card-header>

	<md-card-content>
		<md-tab-group (selectChange)="onTabClickChangeMode($event)">
			<md-tab label="Program">
				<md-list *ngFor="let scheduleItem of (schedule$ | async).schedule">
					<h3 md-subheader>{{scheduleItem.name}}</h3>

					<md-list-item>
						<md-icon md-list-icon>brightness_4</md-icon>
						<h4 md-line>State</h4>
						<p md-line> {{scheduleItem.state}}</p>
					</md-list-item>

					<md-list-item>
						<md-icon md-list-icon>label_outline</md-icon>
						<h4 md-line>Type</h4>
						<p md-line> {{scheduleItem.type}}</p>
					</md-list-item>

					<md-list-item>
						<md-icon md-list-icon>schedule</md-icon>
						<h4 md-line>Time</h4>
						<p md-line> {{transformTime(scheduleItem.time)}}</p>
					</md-list-item>

					<md-divider></md-divider>
				</md-list>
			</md-tab>
			<md-tab label="Override">
				<md-button-toggle-group #overrideStateGroup="mdButtonToggleGroup">
					<md-button-toggle value="day">
						<md-icon>wb_sunny</md-icon>
						Day
					</md-button-toggle>

					<md-button-toggle value="night">
						<md-icon>brightness_3</md-icon>
						Night
					</md-button-toggle>

					<md-button-toggle value="off">
						Off
					</md-button-toggle>
				</md-button-toggle-group>
			</md-tab>
		</md-tab-group>
	</md-card-content>
</md-card>
