@import '~@angular/material/theming';

:host {
	display: block;
	margin: 50px;
	//padding: $mat-menu-side-padding;

	& /deep/ mat-list,
	& /deep/ mat-button-toggle-group {
		padding: 0;
		//margin: $mat-menu-side-padding;
	}
}

mat-list.past {
	background-color: mat-color($mat-gray, 300);
}
