<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Schedule</h2>
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<ng-container *ngIf="isLoading$ | async; else loaded">

			<mat-spinner [color]="'accent'"></mat-spinner>

		</ng-container>

		<ng-template #loaded>

			<mat-list dense
				*ngFor="let scheduleItem of (schedule$ | async).schedule | schedule"
				[ngClass]="{past: scheduleItem.lastRunAt}">
				<h3>{{scheduleItem.name}}</h3>

				<mat-list-item *ngIf="scheduleItem.nextRunAt">
					<mat-icon mat-list-icon>schedule</mat-icon>
					<h4 mat-line>Next</h4>
					<p mat-line> {{scheduleItem.nextRunAt | date:'medium'}}</p>
				</mat-list-item>

				<mat-list-item *ngIf="scheduleItem.lastRunAt">
					<mat-icon mat-list-icon>schedule</mat-icon>
					<h4 mat-line>Last</h4>
					<p mat-line> {{scheduleItem.lastRunAt | date:'medium'}}</p>
				</mat-list-item>

				<mat-divider></mat-divider>
			</mat-list>

		</ng-template>
	</mat-card-content>
</mat-card>
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<mat-card-title>-->
<!--<h2>Configuration</h2>-->
<!--</mat-card-title>-->
<!--</mat-card-header>-->

<!--<mat-card-content>-->
<!--<mat-tab-group (selectChange)="onTabClickChangeMode($event)">-->
<!--<mat-tab label="Program">-->
<!--<mat-list *ngFor="let scheduleItem of (schedule$ | async).schedule">-->
<!--<h3 mat-subheader>{{scheduleItem.name}}</h3>-->

<!--<mat-list-item>-->
<!--<mat-icon mat-list-icon>brightness_4</mat-icon>-->
<!--<h4 mat-line>State</h4>-->
<!--<p mat-line> {{scheduleItem.state}}</p>-->
<!--</mat-list-item>-->

<!--<mat-list-item>-->
<!--<mat-icon mat-list-icon>label_outline</mat-icon>-->
<!--<h4 mat-line>Type</h4>-->
<!--<p mat-line> {{scheduleItem.type}}</p>-->
<!--</mat-list-item>-->

<!--<mat-list-item>-->
<!--<mat-icon mat-list-icon>schedule</mat-icon>-->
<!--<h4 mat-line>Time</h4>-->
<!--<p mat-line> {{transformTime(scheduleItem.time)}}</p>-->
<!--</mat-list-item>-->

<!--<mat-divider></mat-divider>-->
<!--</mat-list>-->
<!--</mat-tab>-->
<!--<mat-tab label="Override">-->
<!--&lt;!&ndash;<mat-button-toggle-group #overrideStateGroup="mdButtonToggleGroup">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-button-toggle value="day">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>wb_sunny</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;Day&ndash;&gt;-->
<!--&lt;!&ndash;</mat-button-toggle>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-button-toggle value="night">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>brightness_3</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;Night&ndash;&gt;-->
<!--&lt;!&ndash;</mat-button-toggle>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-button-toggle value="off">&ndash;&gt;-->
<!--&lt;!&ndash;Off&ndash;&gt;-->
<!--&lt;!&ndash;</mat-button-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-button-toggle-group>&ndash;&gt;-->
<!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
